.menuContainer{
    width:28em;
}

.styledLinkContainer{
    padding: 1em 0;
}

.styledLink{
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: .9em;    
}

.submenuAccordion .styledLink{
    font-weight: normal;
    color: #999;
    text-transform: capitalize;
}

.menuContainer--menu-mobile-footer{
    width: auto;
}

.styledLinkContent--menu-mobile-footer{
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 12px;
}

.menuItem--mobile-menu{
    background: #f7eb14;
    color: #fff;
    border-radius: 5px;
    margin: 2px 0px;
}

.menuContainer--mobile-menu{
    width: auto;
}

.styledLink--mobile-menu{
    color: #58595b;
}


.menuContainer--brand-class{
    width: 100%;
}

.menuContainer--brand-class .menuItem{
    width: 100%;
}

.menuContainer--brand-class .menuItem .styledLinkContainer{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin: 10px 0px;
    width: 130px;
    align-items: flex-end;
}

.menuContainer--brand-class .menuItem{
    border-right: 2px solid #343291;
}

.menuContainer--brand-class .menuItem:last-child{
    border-right: 0px solid #343291;
}

.menuContainer--brand-class .styledLink{
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    text-transform: Capitalize;
}

.submenuWrapper--brands-submenu{
    width: 100vw;
    background: #f4f4f4;
    left: 0px;
    position: fixed;
}

.submenuContainer--brands-submenu .menuContainer{
    display: flex;
    flex-flow: row wrap;
}

.submenuContainer--brands-submenu .menuContainer .menuItem{
    width: 25%;
}

.submenu--brands-submenu{
    min-width: 60%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
}

.menuContainer--brand-class .submenu--brands-submenu .styledLinkContainer{
    margin: 0px auto;
    display: inline-flex;
    width: 100%;
    text-align: left;
    justify-content: left;
}

.submenu--brands-submenu .menuContainerNav{
    width: 63%;
}

.submenu--brands-submenu .menuContainer{
    width: 100%;
}

.menuContainerNav--brand-class .styledLinkContent{
    color: #2d2b8d;
    white-space: pre-wrap;
    font-size: 13px;
}

.menuContainer--brand-class{
    display: flex;
    align-items: center;
}

.menuContainer--iconSearchMaster{
    width: 30px;
}

.menuContainer--iconSearchMaster{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.menuItem--searchIcon{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
    .menuContainerNav--iconSearchMaster{
        position: relative;
        margin: 0px 10px;
    }
    .menuItem--searchIcon , .menuItem--faqItem{
        position: absolute
    }
    .menuItem--searchIcon .submenuContainer{
        min-width: 300px;
        left: -150px;
    }
    .menuItem--searchIcon .submenuWrapper, .menuItem--faqItem .submenuWrapper{
        padding: 15px;
        border-radius: 5px;
        left: -90px;
    }
}